 				* {
			      font-family: sans-serif;
			      color: black;
			      background-color: #f0ede7;
			    }

			.container {
			    display: grid;
			    grid-area: mn;
			    grid-gap: 4em;
			    grid-template-columns: repeat(2, minmax(100px, 1fr));
			    grid-auto-rows: 1fr;
			    grid-auto-flow: row dense;
			}
			.container > div > a > img:hover {
				opacity: 1.0;
				font-size: 1.2;
			}
			.container > div > a > img {
			    width: 100%;
			    height: 100%;
			    object-fit: cover;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
				text-align: center;
				opacity: 0.95;
				transition: opacity .2s;
			}
			.container > div > a > figcaption {
				text-align: center;
				font-size: 0.8em;
				font-weight: lighter;
				padding-top: 0.5em;
				transition: font-size .2s;
			}

			.wrapper{
				display: grid;
				grid-template-columns:  0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
				grid-template-rows: repeat(7, auto);
				/*grid-template-rows: 0.5fr, 0.5fr, 0.5fr 0.5fr, 1fr, 1fr, 1fr;*/
				grid-template-areas: 
					". . . . . . . . . ."
					". hd hd hd hd hd hd hd . ."
					". st st st st st st st . ."
					". . . . . . . . . ."
					". . . . . . . . . ."
					". . . . . if if if . ."
					". . . . . . . . . ."
					". . . . . . . . . ."
				    ". mn mn mn mn mn mn mn . ."
				    ". mn mn mn mn mn mn mn . .";
				grid-gap: 1em; 
			}

			.title {
				font-weight: 1;
				align-self: center;
				text-align: center;
				grid-area: hd;
				font-size: 6vw;
			}
			.subtitle {
				font-weight: 1;
				font-size: 1.5vw;
				align-self: center;
				text-align: center;
				grid-area: st;
			}
			.menu > div > a:link,
			.menu > div > a:hover,
			.menu > div > a:active,
			.menu > div > a:visited {
				color: black;
				font-weight: 1.5;
				text-decoration: none;
				font-size: 2vw;
				color: black;
			}
			.menu {
				font-weight: 1.5em;
				font-size: 0.8em;
				align-self: center;
				text-align: center;
				grid-area: if;
			}